# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lane_follower/\.idea/

lane_follower/cmake-build-debug/

lane_follower/src/Eigen-3\.3/

webcam/build/

webcam/res/yolov3\.cfg

webcam/res/yolov3\.txt

webcam/res/yolov3\.weights

webcam/bin/plugins/
